<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Springboot Hello Sample</h1>
<p>
    <span th:text="${message}"></span>!!!
</p>
<p>
    <span id="useridfield"></span>
</p>
<p>
    <span th:text="${deeplink}"></span>!!!
</p>

<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script th:inline="javascript">
    const url = /*[[ ${deeplink} ]]*/ null;
</script>
<script src="/js/linkAction.js"></script>

</body>
</html>
